@import url('https://fonts.googleapis.com/css?family=Open+Sans|Fredoka+One|Baloo+Bhaina');
* {
    font-family: 'Open Sans', serif; 
}

p{
    
}

h1,h2,h3 {
    font-family: 'Baloo Bhaina', serif;
}

h1{
    font-size: 38px; 
    line-height: 35px;
    white-space: nowrap;
    text-align: center;
}

body {
    margin: 0;
}

html, body{
    /*overflow: hidden;
    height: 100%;*/
}

#title-triangle{
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 250px solid darkred;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
}
.page-title{
    margin-top: -220px;
    margin-left: -180px;
    color: antiquewhite;
}

.navbar{  
    padding-right: 50px;
    height: 150px;
    position: absolute;
    right: 0;
    top: calc(50% - 75px);
    text-align: right;
    font-size: 0;
}

.nav-list{
    padding: 0;
}

.nav-item{   
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 10px 0px 10px 0px;
}

.open-nav{
    top: 50px;
    left: 0px;
    position: fixed;
    background-color: darkred;
    color: antiquewhite;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
    padding: 10px 10px;
    font-size: 26px;
    /*padding: 5px 5px 8px 5px;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
    height: 50px;
    width: 100px;
    text-decoration: none;*/
}

/*Pages*/
.page{
    text-align: center;
    margin: 0;
    height: 100vh;
}
.page-one{
    background-image: url('../img/seamlessbeans.jpg');
    background-repeat: repeat;
    background-size: 400px;
}
.page-two{
    background-color: red;
}
.page-three{
    background-color: green;
}
.page-four{
    background-color: blue;
}
.page-five{
    background-color: darkgray;
}

.button{
    background-color: silver;
    border-radius: 5px;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.content{
    color: darkred;
    background: white;
    text-align: center;
}

.page-two-content{
    width: 50%;
    height: 100%;
    float:right;    
    text-align: left;
}
.page-two-content p{
    margin: 0px 20px;   
}

.product-item{
    text-align: left;
    border: solid 1px darkred;
    border-radius: 5px;
    margin: 15px 50px;
    padding-bottom: 5px;
}
.product-item:last-of-type{
    margin-bottom: 5px;
}
.product-item h2{
    line-height: 20px;
    margin-top: -8px;
    margin-left: 25%;
    max-width: 50%;
    background-color: white;
}
.product-item ul{
    margin-left: 20px;
}

.product-img{
    max-width: 70%;
    max-height: 150px;
    border-radius: 5px;
    
}

.centered{
    text-align: center;
    width: 100%;
}

.page-three-content{
    display: inline-table;
    width: 30%;
    height: 100%;
    margin: 0 10px auto;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,1);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,1);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,1);
}
.page-three-content p{
    margin-left:  40px;  
    margin-right:  40px;  
}

.temp-content{
    display: inline-block;
    width: 60%;
    height: 60%;
    margin: 50px;
    padding: 20px;
}

.side-nav {
    text-align: left;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkred;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    border-right: solid 1px black;
    box-shadow: 1px 0px 5px black;
}

.side-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: antiquewhite;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}